.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;

  .sidenav-header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;

    .app-title {
      margin: 0;
      font-weight: 500;
    }
  }
}

.active-link {
  background-color: rgba(0, 0, 0, 0.04);
  color: #3f51b5;

  mat-icon {
    color: #3f51b5;
  }
}

.toolbar-title {
  margin-left: 8px;
}

.content-container {
  min-height: calc(100vh - 64px);
}

@media (max-width: 599px) {
  .content-container {
    min-height: calc(100vh - 56px);
  }
}
